<div class="fixedheader">
<div class="container">
    <a class="logo" href="/">Logo</a>
    <div class="title"><%= site.title %></div>
    <div class="tagline"><%= site.tagline %></div>
</div>
</div>
<div class="pagebody">
<div class="container">


    <div class="signupform">

        <% if(error && error.length) {%>
            <div class="flash error">
            <%= error %>
            </div>
        <% } else if(messages && messages.length) {%>
            <div class="flash">
            <%= messages %>
            </div>
        <% } else if(site.loginIntro) { %>
            <div class="intro">
            <p>
            <%= site.loginIntro %>
            </p>
        </div>
        <% } %>
        <div class="main">
            <div class="box">
            <p class="boxtitle"><span>Log in with your email address<span></p>
                <form action="/auth/login" method="POST">
                    <input type="text" name="email" placeholder="email@example.com">
                    <input type="password" name="password" placeholder="Password">
                    <button type="submit">Log in</button>
                </form>
            </div>
            <div class="box">
                <p class="boxtitle"><span>Or</span></p>
                <% if(fakeAuth) {%>
                    <a class="social fake"  href="/auth/fake">Fake auth</a>
                <% } %>

                <a class="social github" href="/auth/github">GitHub</a>
                <a class="social bitbucket" href="/auth/bitbucket">Bitbucket</a>
                <a class="social facebook" href="/auth/facebook">Facebook</a>
                <a class="social twitter" href="/auth/twitter">Twitter</a>
            </div>
            <div class="box">
                New user? <a href="/auth/signup">Join for free</a>
            </div>
        </div>
    </div>



    </div>
</div>
<div class="fixedfooter">
<div class="container">
</div>
</div>

<% if(user) {%>
<p>Already logged in as <%= user.displayName %></p>
<% } %>


